
body {

  background-color: red;
}
font-size: 80px;
}
}

@media screen and (max-width: 600px) {
div.example {
font-size: 30px;
}
}
/
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}


@media screen and (max-width: 600px) {
  body {
    background-color: green;
  }
}
